@font-face {
  font-display: swap;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend/Lexend-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/lexend/Lexend-Medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/lexend/Lexend-SemiBold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lexend/Lexend-Bold.ttf") format("truetype");
}
